.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: #fdf2f8;
  background-image: url("../img/chat_background.png");
  background-size: contain;
  background-repeat: inherit;
  opacity: 0.7;
  padding: 25px 10px;
  &__messageContainer {
    display: flex;
    width: 100%;
    padding: 7px 55px;
    .message {
      padding: 7px 20px;
      border-radius: 10px;
      max-width: 50%;
    }
    .incomingMessage {
      background-color: #fff;
    }
    .myMessage {
      background-color: #dcf8c6;
    }
  }
}
