.chatDrawer {
  width: 31vw;
  height: 100%;
  max-width: 581px;
  min-width: 300px;
  &__top {
    color: white;
    padding: 20px;
    height: 118px;
    background-color: var(--theme-color);
    width: 100%;
    display: flex;
    align-items: flex-end;
    .bottomBox {
      display: flex;
      align-items: center;
    }
  }
  &__group {
    // height: 72px;
    display: flex;
    border-bottom: solid var(--border-color) 1px;
    padding: 20px;
  }
  &__group {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-color);
    }
    .avatar {
      background-color: #009688;
      margin-right: 20px;
    }
  }
}
