.chat {
  flex: 1;
  width: 100%;
  background-color: #fdf2f8;
  background-image: url("../img/chat_background.png");
  background-size: contain;
  background-repeat: inherit;
  opacity: 0.7;
}

// TODO: Create a dropdown pop up for the option icon
